
/checkpoints
processed/extracted_audio_v1_4wqBb2cZ4aIaJOrm/se.pth
extracted_audio.mp3
/outputs
/processed
/Wav2Lip/__pycache__
/Wav2Lip/face_detection/__pycache__
/Wav2Lip/models/__pycache__
sample.mp4
/Wav2Lip/face_detection/detection/__pycache__
/Wav2Lip/face_detection/detection/sfd/__pycache__
/Wav2Lip/temp
OpenVoice/demo_part1.ipynb
OpenVoice/demo_part1.ipynb
OpenVoice/demo_part1.ipynb
OpenVoice/demo_part1.ipynb
OpenVoice/outputs/output_en_default.wav
OpenVoice/outputs/output_whispering.wav
OpenVoice/outputs/tmp.wav
OpenVoice/processed/sample_v1_ZG1Jg9bs0H0sk4SI/se.pth
OpenVoice/processed/sample_v1_ZG1Jg9bs0H0sk4SI/wavs/sample_v1_ZG1Jg9bs0H0sk4SI_seg0.wav
OpenVoice/processed/sample_v1_ZG1Jg9bs0H0sk4SI/wavs/sample_v1_ZG1Jg9bs0H0sk4SI_seg1.wav
OpenVoice/processed/sample_v1_ZG1Jg9bs0H0sk4SI/wavs/sample_v1_ZG1Jg9bs0H0sk4SI_seg2.wav
OpenVoice/resources/sample.mp3
OpenVoice/demo_part1.ipynb
OpenVoice/demo_part1.ipynb
OpenVoice/demo_part1.ipynb
