
/checkpoints
processed/extracted_audio_v1_4wqBb2cZ4aIaJOrm/se.pth
extracted_audio.mp3
/outputs
/processed
/Wav2Lip/__pycache__
/Wav2Lip/face_detection/__pycache__
/Wav2Lip/models/__pycache__
sample.mp4
/Wav2Lip/face_detection/detection/__pycache__
/Wav2Lip/face_detection/detection/sfd/__pycache__
/Wav2Lip/temp
